<div class="container">
    <div class="row">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <a href="{{ auth.signupurl }}"><button class="btn btn-primary btn-lg">Sign Up</button></a>
                </div>
                <div class="col-sm-4">
                </div>    
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <a href="{{ auth.signinurl }}"><button class="btn btn-primary btn-lg">Sign In</button></a>
                </div>
                <div class="col-sm-4">
                </div>    
            </div>
        </form>
    </div>
</div>