<style type="text/css">
  .ng-invalid.ng-dirty{
    .has-error .form-control;
}

label.has-error.control-label {
    .has-error .control-label;
}
</style>
<div class="container" id="wrap">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form  method="post" accept-charset="utf-8" class="form" role="form" name="form1" novalidate>   
              <legend>Sign In</legend>
                <h4>Enter Your domain Name</h4>
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="input-group">
                      <input type="text" class="form-control input-lg" id="domain_url" name="domain_url" placeholder="Pick a url for your account" ng-model="organization.subdomain" validator="required">
                      <div class="input-group-addon input-lg">.notrie.com</div>
                    </div>
                  </div>
                </div>
              
               <!--  <input type="email" name="email" value="" class="form-control input-lg" placeholder="Email Address" ng-model="organization.email" validator="email"  email-error-message="email address required."/>
              
                <input type="password" name="password" value="" class="form-control input-lg" placeholder="Password (min 6 charector)" ng-model="organization.password" required  validator="required" password-error-message="email address required." />
                               
              
                <input type="password" name="confirm_password" value="" class="form-control input-lg" placeholder="Confirm Password" ng-model="organization.password_confirmation" validator="required" />
                
                <input type="text" name="company_name" value="" class="form-control input-lg" placeholder="Your / Company name" ng-model="organization.name" validator="required" />  -->        
                
                <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit" validation-submit="form1" ng-click="signupForm()">
                        Continue</button>
            </form>          
          </div>
</div>            
</div>
</div>