<style>
    .social-links a{
        float: left;
        text-align: center;
        margin-left:5px;
        color:#999;
        text-decoration: none;
    }
    .social-links a:hover{
        text-decoration: none;
    }
</style>
    <div class="row controls_wrap">
        <div class="back_btn">
            <a href="" title=""><span class="glyphicon glyphicon-chevron-left"></span></a>
            <span class="project_title">{{ project_name }}</span>
        </div>
        <div class="toggle_btn_wrap">
            <div class="changer switcheroo-wrapper">
                <input class="btn-toggle" type="checkbox" name="switcheroo" value="html" ng-checked="ShowHtml" ng-click="togglePart('html')"/>
                <label class="bs-bet-type-label">HTML</label>
                <input class="btn-toggle" type="checkbox" name="switcheroo" value="css" ng-checked="ShowCss" ng-click="togglePart('css')"/>
                <label class="bs-bet-type-label">CSS</label>
                <input class="btn-toggle btn-subdued" type="checkbox" name="switcheroo" value="js" ng-checked="ShowJs" ng-click="togglePart('js')"/>
                <label class="btn-toggle">JS</label>
            </div>
        </div>
        <div class="toggle_btn_wrap mode_toggle_btn_wrap">
            <div class="changer switcheroo-wrapper switcheroo-wrapper-2">
                <input class="btn-toggle" type="radio" name="switcheroo1" value="developer" checked/>
                <label class="bs-bet-type-label">DEVELOPER</label>
                <input class="btn-toggle btn-subdued" type="radio" name="switcheroo1" value="designer" ng-click="showDesignView()"/>
                <label class="btn-toggle" >DESIGNER</label>
            </div>
        </div>
        <div class="right_btns_wrap">
            <input type="button" class="btn btn-lg save_btn" value="Save"  ng-click="save()">
            <input type="button" class="btn btn-lg social_icons_btn" value="Social Icons" ng-click="socialIcons()">
            <input type="button" class="btn btn-default btn-lg update_preview_btn" value="update preview" ng-click="renderPreview()">
        </div>
    </div>
    <div class="row content_wrap">
        <div class="col-sm-4 editor_wrap"  ng-show="ShowHtml || ShowCss || ShowJs">
            <div class="col-sm-12  editor" ng-show="ShowHtml">
                <div class="editor_title_row">
                        <span class="editor_title">
	    					HTML
	    				</span>
                        <span class="editor_file_name">
	    					{{ html_file }}
	    				</span>
                        <span class="file_controls_wrap">
	    					<span class="glyphicon glyphicon-plus-sign create_new_file" ng-hide="true"></span>
                            <span class="glyphicon glyphicon-folder-open"  ng-click="browseFile('html')"></span>
                        </span>
                </div>
                <textarea ui-codemirror="{onLoad: codemirrorLoaded}" ui-codemirror-opts="editorOptions1" class="full-width editor_content" ng-model="editHtml"></textarea>
            </div>
            <div class="col-sm-12 editor" ng-show="ShowCss">
                <div class="editor_title_row">
                        <span class="editor_title">
	    					CSS
	    				</span>
                        <span class="editor_file_name">
	    					 {{ css_file }}
	    				</span>
                        <span class="file_controls_wrap">
	    					<span class="glyphicon glyphicon-plus-sign create_new_file" ng-hide="true"></span>
                            <span class="glyphicon glyphicon-folder-open" ng-click="browseFile('css')"></span>
                        </span>
                </div>
                <textarea ui-codemirror="{onLoad: codemirrorLoaded}" ui-codemirror-opts="editorOptions2" class="full-width editor_content" ng-model="editCss"></textarea>
            </div>
            <div class="col-sm-12 editor"  ng-show="ShowJs">
                <div class="editor_title_row">
                        <span class="editor_title">
	    					JS
	    				</span>
                        <span class="editor_file_name">
	    					{{ js_file }}
	    				</span>
                        <span class="file_controls_wrap">
	    					<span class="glyphicon glyphicon-plus-sign create_new_file" ng-hide="true"></span>
                            <span class="glyphicon glyphicon-folder-open"  ng-click="browseFile('js')"></span>
                        </span>
                </div>
                <textarea ui-codemirror="{onLoad: codemirrorLoaded}" ui-codemirror-opts="editorOptions3" class="full-width editor_content" ng-model="editJs"></textarea>
            </div>
        </div>
        <div class="editor_result_wrap" ng-class="{ 'col-sm-8' : ShowHtml || ShowCss || ShowJs , 'col-sm-12' : !ShowHtml && !ShowCss && !ShowJs }">
                <iframe name="preview" id="preview" class="full-width"  style="height: 600px;border:0;border:1px solid #cccccc;border-radius:20px;"></iframe>
        </div>
    </div>
