<div class="" id="wrap">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form  method="post" accept-charset="utf-8" class="form" role="form" name="form1" novalidate>
                <legend>Sign In</legend>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <input type="email" name="email" value="" class="form-control input-lg" placeholder="Email Address" ng-model="credentials.email" validator="email" email-error-message="email address required.">
                        <input type="password" name="password" value="" class="form-control input-lg" placeholder="Password " ng-model="credentials.password"   validator="required" required-error-message="password required." />
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <div class="col-sm-3 pull-right">
                            <button class="btn btn-block btn-success" type="submit" validation-submit="form1" ng-click="signIn()">Sign In</button>
                        </div>
                        <div class="col-sm-3 pull-right">
                            <button class="btn btn-block btn-primary" ng-click="getLoginGoogle()" style="margin-left:5px;">Sign In with google</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
