.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.thumbnail {
    height: 200px;
}

.thumbnail img.pull-right {
    width: 50px;
}

/************* Registration CSS Start *****************/
.validation-invalid
{
    color: #f00;
}
.validation-valid
{
    display: none;
}

legend{
    color:#141823;
    font-size:25px;
    font-weight:bold;
}
.signup-btn {
    background: #79bc64;
    background-image: -webkit-linear-gradient(top, #79bc64, #578843);
    background-image: -moz-linear-gradient(top, #79bc64, #578843);
    background-image: -ms-linear-gradient(top, #79bc64, #578843);
    background-image: -o-linear-gradient(top, #79bc64, #578843);
    background-image: linear-gradient(to bottom, #79bc64, #578843);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    text-shadow: 0px 1px 0px #898a88;
    -webkit-box-shadow: 0px 0px 0px #a4e388;
    -moz-box-shadow: 0px 0px 0px #a4e388;
    box-shadow: 0px 0px 0px #a4e388;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #3b6e22  1px;
    text-decoration: none;
}

.signup-btn:hover {
    background: #79bc64;
    background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
    background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
    background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
    background-image: -o-linear-gradient(top, #79bc64, #5e7056);
    background-image: linear-gradient(to bottom, #79bc64, #5e7056);
    text-decoration: none;
}
.navbar-default .navbar-brand{
    color:#fff;
    font-size:30px;
    font-weight:bold;
}
.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
    #home{
        margin-top:50px;
    }
    #home .slogan{
        color: #0e385f;
        line-height: 29px;
        font-weight:bold;
    }
}

em{
    color: #ff0000;
}
.selected:after{
    top:0;
    left:0;
    bottom:0;
    right:0;
    content:"";
    background-color: #00d6b2;
    position: absolute;
    opacity:0.1;
}

.full-width{
    width:100%;
}
.fifty-per-height{
    height: 100%;
}
#wrap{
    margin:1%;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
}

.ng-invalid.ng-dirty{
.has-error .form-control;
}

label.has-error.control-label {
.has-error .control-label;
}


/*---------slider-----------*/

.slider {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.slider.slider-horizontal {
    width: 210px;
    height: 20px;
}
.slider.slider-horizontal .slider-track {
    height: 10px;
    width: 100%;
    margin-top: -5px;
    top: 50%;
    left: 0;
}
.slider.slider-horizontal .slider-selection {
    height: 100%;
    top: 0;
    bottom: 0;
}
.slider.slider-horizontal .slider-handle {
    margin-left: -10px;
    margin-top: -5px;
}
.slider.slider-horizontal .slider-handle.triangle {
    border-width: 0 10px 10px 10px;
    width: 0;
    height: 0;
    border-bottom-color: #0480be;
    margin-top: 0;
}
.slider.slider-vertical {
    height: 210px;
    width: 20px;
}
.slider.slider-vertical .slider-track {
    width: 10px;
    height: 100%;
    margin-left: -5px;
    left: 50%;
    top: 0;
}
.slider.slider-vertical .slider-selection {
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
}
.slider.slider-vertical .slider-handle {
    margin-left: -5px;
    margin-top: -10px;
}
.slider.slider-vertical .slider-handle.triangle {
    border-width: 10px 0 10px 10px;
    width: 1px;
    height: 1px;
    border-left-color: #0480be;
    margin-left: 0;
}
.slider.slider-disabled .slider-handle {
    background-image: -webkit-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
    background-image: linear-gradient(to bottom, #dfdfdf 0%, #bebebe 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf', endColorstr='#ffbebebe', GradientType=0);
}
.slider.slider-disabled .slider-track {
    background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%);
    background-image: linear-gradient(to bottom, #e5e5e5 0%, #e9e9e9 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffe9e9e9', GradientType=0);
    cursor: not-allowed;
}
.slider input {
    display: none;
}
.slider .tooltip.top {
    margin-top: -36px;
}
.slider .tooltip-inner {
    white-space: nowrap;
}
.slider .hide {
    display: none;
}
.slider-track {
    position: absolute;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #f9f9f9 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.slider-selection {
    position: absolute;
    background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
}
.slider-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #3a94a5;
    background-image: -webkit-linear-gradient(top, #149bdf 0%, #0480be 100%);
    background-image: linear-gradient(to bottom, #149bdf 0%, #0480be 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
    filter: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    opacity: 0.8;
    border: 0px solid transparent;
}
.slider-handle.round {
    border-radius: 50%;
}
.slider-handle.triangle {
    background: transparent none;
}
.slider-handle.custom {
    background: transparent none;
}
.slider-handle.custom::before {
    line-height: 20px;
    font-size: 20px;
    content: '\2605';
    color: #726204;
}




@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('fonts/opensans-regular-webfont.woff') format('woff'),
    url('fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'open_sansregular';
    height: 100%;
}

.main_wrap {
    float: left;
    width: 100%;
    min-height: 100%;
    position: relative;
    padding-bottom: 25px;
}

.row {
    width: 100%;
    margin: 0px;
    float: left;
}
/*navbar css*/

.custom_navbar {
    background-color: #4a535c;
    border: none;
    border-radius: 0;
    height: 45px !important;
    min-height: auto;
    margin-bottom: 0;
}

.custom_collapse {
    height: 45px;
    background-color: #4a535c;
}

.custom_collapse.collapse.in {
    height: auto;
}

.custom_collapse a {
    color: #fff !important;
}

.custom_collapse a:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.custom_navbar .navbar-nav > li > .dropdown-menu {
    background-color: #4A535C !important;
    color: #fff !important;
}

.custom_navbar .navbar-nav > li > .dropdown-menu a:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: #fff !important;
}

.custom_navbar .navbar-nav > .open > a,
.custom_navbar .navbar-nav > .open > a:hover,
.custom_navbar .navbar-nav > .open > a:focus {
    background-color: #4A535C !important;
}

.custom_navbar .navbar-brand {
    color: #fff;
    height: 45px;
    padding: 12px 15px;
    font-size: 20px;
}

.custom_navbar .navbar-brand:hover,
.custom_navbar .navbar-brand:focus {
    color: #fff;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.custom_navbar .container-fluid {
    height: 45px;
}

.custom_navbar .navbar-right {
    margin-right: -30px;
}

.custom_navbar .navbar-right > li > a {
    padding: 12px 15px;
}

.custom_navbar .navbar-right > li > a span {
    padding-right: 8px;
}
/*navbar css end*/

.controls_wrap {
    padding: 0px;
    height: 45px;
    background-color: #E9E9E9;
}

.back_btn {
    padding: 8px 15px;
    width: 16.66667%;
    float: left;
}

.back_btn a {
    color: #4A535C;
    font-size: 22px;
}

.project_title {
    color: #4A535C;
    font-size: 20px;
    padding: 0px 15px;
}

.toggle_btn_wrap {
    padding: 9px 15px;
    float: left;
    width: 16.66667%;
}

.switcheroo-wrapper {
    position: relative;
    width: 100%;
    height: 27px;
    margin: 0;
    width: 213px;
}

[name="switcheroo"] {
    opacity: 0;
    position: absolute;
    top: 0%;
    width: 50%;
    z-index: 2;
    height: 27px;
    padding-top: 2px;
    cursor: pointer;
}

[name="switcheroo"]:nth-of-type(1) {
    left: 0%;
    margin: 0;
}

[name="switcheroo"]:nth-of-type(2) {
    left: 33.333%;
    margin: 0;
}

[name="switcheroo"]:nth-of-type(3) {
    left: 66.666%;
    margin: 0;
}

[name="switcheroo"] + label {
    margin: 0;
    border-right: 1px solid #9fbc45;
    width: 33.33%;
    position: absolute;
    z-index: 0;
    text-align: center;
    height: 27px;
    padding-top: 2px;
    font-weight: normal;
}

[name="switcheroo"] + label:nth-of-type(1) {
    left: 0%;
    border: 1px solid #9fbc45;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

[name="switcheroo"] + label:nth-of-type(2) {
    left: 33.333%;
    border-right: 0;
    border: 1px solid #9fbc45;
    border-left: 0;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

[name="switcheroo"] + label:nth-of-type(3) {
    left: 66.666%;
    border-right: 0;
    border: 1px solid #9fbc45;
    border-left: 0;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 0px solid #E9E9E9 !important;
}

[name="switcheroo"]:checked + label {
    background-color: #9fbc45;
    color: #fff;
    border-right: 1px solid #E9E9E9;
    font-size: 12px;
    line-height: 20px;
}

[name="switcheroo"]:not(:checked) + label {
    background: #ededed;
    color: #929292;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-right: 1px solid #9FBC45 !important;
}

[name="switcheroo1"] {
    opacity: 0;
    position: absolute;
    top: 0%;
    width: 50%;
    z-index: 2;
    height: 27px;
    padding-top: 2px;
    cursor: pointer;
}

[name="switcheroo1"]:nth-of-type(1) {
    left: 0%;
    margin: 0;
}

[name="switcheroo1"]:nth-of-type(2) {
    left: 50%;
    margin: 0;
}

[name="switcheroo1"] + label {
    margin: 0;
    border-right: 1px solid #9fbc45;
    width: 50%;
    position: absolute;
    z-index: 0;
    text-align: center;
    height: 27px;
    padding-top: 2px;
    font-weight: normal;
    font-size: 12px;
    padding-top: 4px;
    line-height: 15px;
}

[name="switcheroo1"] + label:nth-of-type(1) {
    left: 0%;
    border: 1px solid #9fbc45;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

[name="switcheroo1"] + label:nth-of-type(2) {
    left: 50%;
    border-right: 0;
    border: 1px solid #9fbc45;
    border-left: 0;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

[name="switcheroo1"]:checked + label {
    background-color: #9fbc45;
    color: #fff;
    font-size: 12px;

}

[name="switcheroo1"]:not(:checked) + label {
    background: #ededed;
    color: #929292;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.switcheroo-wrapper-2 {
    margin: 0 auto;
}

.mode_toggle_btn_wrap {
    width: 38.2%;
}

.right_btns_wrap {
    padding: 9px 0px;
    float: right;
}

.right_btns_wrap input {
    height: 27px;
    width: 116px;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    font-size: 11px;
    color: #aaaaaa;
    float: right;
    margin-left: 10px;
}

.update_preview_btn {
    margin-left: 0px !important;
}

.social_icons_btn {
    color: #fff !important;
    background-color: #4fade7;
    border: none;
}

.social_icons_btn:hover,
.social_icons_btn:focus,
.social_icons_btn.focus {
    color: #fff !important;
    background-color: #3997d1;
    border: none;
    outline: none;
}

.save_btn {
    background-color: #01965f;
    color: #fff !important;
    border: none;
    margin-right: 15px;
}

.save_btn:hover,
.save_btn:focus,
.save_btn.focus {
    background-color: #157e57;
    color: #fff !important;
    border: none;
    outline: none;
}

.content_wrap {
    padding: 13px 15px;
}

.editor_wrap {
    padding: 0;
}

.editor {
    padding: 0;
}

.editor_title_row {
    background-color: #4a535c;
    height: 25px;
    padding: 2px 10px;
}

.editor_title {
    color: #fff;
    font-size: 14px;
   /* width: 33.3333%;*/
    width:20%;
    display: inline-block;
}

.editor_file_name {
    color: #fff;
    text-decoration: underline;
    width: 60%;
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

.file_controls_wrap {
    padding-top: 2px;
    display: inline-block;
    float: right;
}

.file_controls_wrap span {
    float: right;
    color: #fff;
    cursor: pointer;
}

.create_new_file {
    margin-left: 10px;
}

.editor_content {
    min-height: 144px;
    background-color: #e9e9e9;
}

.editor_result_wrap {
    padding: 0px 0px 0px 10px;
}

.editor_result_wrap > div {
    border: 1px solid #c0c0c0;
    min-height: 507px;
}
/*footer*/

.footer_wrap {
    background-color: #e9e9e9;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer_wrap > div {
    text-align: center;
    font-size: 10px;
    padding: 7px 0px;
}

.fixed_footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
/*footer end*/
/*editor plugin css*/

.editor_content {
    resize: none;
    width: 100% !important;
    border-left: none;
    border-top: none;
}

.lines {
    width: 18px !important;
    border-right: none !important;
    max-height: 144px !important;
}

.linedwrap {
    background-color: #E9E9E9 !important;
    border: none !important;
    padding: 0px !important;
    width: 100% !important;
}

.linedwrap .codelines .lineno {
    color: #4a535c !important;
    line-height: 20px !important;
    padding-right: 0px !important;
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width: 1345px) {
    .switcheroo-wrapper {
        width: 170px;
    }
    .mode_toggle_btn_wrap {
        width: 33.2%;
    }
}

@media screen and (max-width: 1200px) {
    .right_btns_wrap input {
        width: 100px;
    }
}

@media screen and (max-width: 1024px) {
    .toggle_btn_wrap {
        width: 20.667%;
    }
    .mode_toggle_btn_wrap {
        width: 28.2%;
    }
    .project_title {
        font-size: 18px;
    }
    .back_btn {
        padding: 10px 15px;
    }
    .back_btn a {
        font-size: 18px;
    }
    .project_title {
        font-size: 18px;
    }
    @media screen and (max-width: 991px) {
        .mode_toggle_btn_wrap {
            width: 35%;
        }
        .toggle_btn_wrap {
            width: 23%;
            padding-left: 0px;
            padding-right: 0px;
        }
        .back_btn {
            width: 15%;
            padding-right: 0px;
        }
        .project_title {
            padding-left: 0px;
            padding-right: 10px;
            font-size: 17px;
        }
        .right_btns_wrap input {
            width: 90px;
            margin-left: 4px;
            font-size: 11px;
        }
    }
    @media screen and (max-width: 768px) {
        .controls_wrap {
            height: auto;
        }
        .toggle_btn_wrap {
            width: 35%;
        }
        .back_btn {
            width: 30%;
        }
        .mode_toggle_btn_wrap .switcheroo-wrapper {
            float: right;
            margin-right: 15px;
        }
        .right_btns_wrap {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .right_btns_wrap input {
            width: 27.33333%;
            margin-right: 9.00005%;
            margin-left: 0px !important;
            font-size: 13px;
        }
        .save_btn {
            margin-right: 0px !important;
        }
        .custom_navbar {
            height: auto !important;
        }

        .switcheroo-wrapper {
            width: 80%;
        }
        .project_title {
            font-size: 15px;
        }
        .custom_navbar .navbar-right > li.dropdown {
            margin-left: 0px;
        }

    }
    @media screen and (max-width: 767px) {
        .editor_result_wrap {
            margin-top: 13px;
            padding-left: 0px;
        }
        .custom_collapse {
            float: left;
            margin: 0 !important;
            width: 100%;
        }
    }
    @media screen and (max-width: 640px) {
        .back_btn {
            width: 100%;
        }
        .project_title {
            padding-left: 15px;
        }
        .toggle_btn_wrap {
            width: 50%;
            padding-left: 15px;
        }
        .switcheroo-wrapper {
            width: 90%;
        }
        .back_btn span {
            float: left;
            display: block;
        }
        .back_btn a span {
            width: 2%;
        }
        .project_title {
            width: 98%;
            text-align: center;
            padding-left: 0px;
        }
        .back_btn {
            padding-right: 15px;
        }
    }
    @media screen and (max-width: 480px) {
        .back_btn span {
            float: left;
            display: block;
        }
        .back_btn a span {
            width: 4%;
        }
        .project_title {
            width: 96%;
            text-align: center;
            padding-left: 0px;
        }
        .back_btn {
            padding-right: 15px;
        }
        .switcheroo-wrapper {
            width: 95%;
        }
        .right_btns_wrap input {
            margin-left: 0 !important;
            margin-right: 3%;
            width: 31.333%;
        }
    }
    @media screen and (max-width: 390px) {
        .right_btns_wrap input {
            font-size: 11px;
        }
    }
